* {
    box-sizing: border-box;
}

/*styles background and fonts*/
body {
    margin: 0;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.089);
    font-family: 'Calibri', Times, serif;
    background-image: url(images/background.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


main {
    padding-top: 5em;
}


/*styles the menu bar on top of every page*/
#navigation {
    float: right;
    font-family: 'Calibri', Times, serif;
    padding: 2em 2em;

}

/*puts the logo on the top left*/
#title {
    float: left;
    padding: 1.5em 1em;
}

/*puts the image on tech.html on the right*/
.slidebanner {
    float: right;
    margin: 2% 2%;
}

/*puts the form on tech.html on the left*/
.form{
    margin: 5% 0% 0% 5%;
    width: 90%;
}

/*styles the text on tech.html*/
.techDescr {
    font-family: 'Calibri', Times, serif;
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    text-align: left;
}

/*styles the menu on every page and prepares for a hover*/
.navItem {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: all 0.1s ease-in-out 0.05s;
}

/*makes the menu hover with a smooth short animation*/
.navItem:hover {
    color: lightblue;
    font-size: large;
    transition: all 0.1s ease-in-out 0.05s;
}

/*styles the txt on the main page*/
.pageTitle {
    text-align: center;
    font-size: 24px;
}

/*styles some headers on all pages*/
.header {
    text-align: center;
    font-size: 42px;
    color: white;
}

/*styles the footer and puts it on the bottom*/
footer {
    width: 100%;
    margin-top: 4.6%;
    align-items: center;
    background-color: rgba(119, 136, 153, 0.527);
    bottom: 0;
    clear: left;
    text-align: center;
}

/*styles the footer and puts it on the bottom*/
.mainSection,
.sectionContent {
    float: left;
    color: black;
}

.mainSection {
    width: 100%;
    text-align: center;
}

.sectionContent {
    background-color: white;
    width: 450px;
    margin: 0% 4% 4% 4%;
    box-shadow: black 0px 0px 10px;
    border-radius: 80px;
    padding-bottom: 20px;
    transition: transform .2s;
}

.sectionContent:hover {
    transform: scale(1.1);
    box-shadow: black 0px 0px 30px;
}

.sectionDescr {
    font-family: 'Calibri', Times, serif;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    overflow: auto;
    color: black;
    
}

.sectionLink {
    text-decoration: none;
    color: inherit;
}

.history a {
    color: rgb(233, 221, 62);
}


.productsDescr {
    font-family: 'Calibri', Times, serif;
    font-size: large;
    font-style: oblique;
    text-align: center;
}

.curvyImg {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 100px;
  }

.fixImg {
    margin: 2%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

form {
    margin-bottom: 2%;
    margin-right: 70%;
}

#txtProof {    
    margin-right: -15%;
}

.intro {
    margin: 1%;
    padding: 0%;
    background-color: rgba(195, 227, 233, 0.253);
}

.sectionContentTwoE1 {
    color: white;
    margin-bottom: 20%;
}

.about-us-section {
    width: 100%;
    text-align: center;
}



