/*styles background and fonts*/
body {
    margin: 0;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.089);
    font-family: 'Calibri', Times, serif;
    background-image: url(images/background.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*adjusts the size of the contents of main*/
main {
    padding-top: 5em;
}

/*it creates the background color of the menu on all pages and adjusts the size and position of it*/
header {

    position: fixed;
    width: 100%;
    height: 5em;
    align-items: center;
    background-color: rgba(119, 136, 153, 0.527);
    top: 0;
    right: 0;
    clear: left;


}

/*styles the menu bar on top of every page*/
#navigation {
    float: right;
    font-family: 'Calibri', Times, serif;
    padding: 2em 2em;

}

/*puts the logo on the top left*/
#title {
    float: left;
    padding: 1.5em 1em;
}

/*puts the image on tech.html on the right*/
.slidebanner {
    float: right;
    margin: 2% 2%;
}

/*puts the form on tech.html on the left*/
.form{
    margin: 5% 0% 0% 5%;
    width: 90%;
}

/*styles the text on tech.html*/
.techDescr {
    font-family: 'Calibri', Times, serif;
    font-size: larger;
    font-weight: bold;
    font-style: oblique;
    text-align: left;
}

/*styles the menu on every page and prepares for a hover*/
.navItem {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: all 0.1s ease-in-out 0.05s;
}

/*makes the menu hover with a smooth short animation*/
.navItem:hover {
    color: lightblue;
    font-size: large;
    transition: all 0.1s ease-in-out 0.05s;
}

/*styles the txt on the main page*/
.pageTitle {
    text-align: center;
    font-size: 24px;
}

/*styles some headers on all pages*/
.header {
    text-align: center;
    font-size: 42px;
    color: white;
}

/*styles the footer and puts it on the bottom*/
footer {
    width: 100%;
    margin-top: 4.6%;
    align-items: center;
    background-color: rgba(119, 136, 153, 0.527);
    bottom: 0;
    clear: left;
    text-align: center;
}

/*puts the blocks that are used on almost every page, on the left and uses
 black font so the txt can be visible*/
.mainSection,
.sectionContent {
    float: left;
    color: black;
}

/*adjusts the width of the blocks and aligns the txt on the center*/
.mainSection {
    width: 100%;
    text-align: center;
}

/*adjusts the background color of the blocks to white,
adjusts the position of context, makes the border more circular
,it creates a shadow on the block
and it prepares for the hover animation*/
.sectionContent {
    background-color: white;
    width: 450px;
    margin: 0% 4% 4% 4%;
    box-shadow: black 0px 0px 10px;
    border-radius: 80px;
    padding-bottom: 20px;
    transition: transform .2s;
}

/*makes the block hover and transition with an animation
when it hovers the shadow becomes more blury*/
.sectionContent:hover {
    transform: scale(1.1);
    box-shadow: black 0px 0px 30px;
}

/*styles the description on some blocks*/
.sectionDescr {
    font-family: 'Calibri', Times, serif;
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    overflow: auto;
    color: black;
    
}

/*it removes the style of a hyperlink to blend better with block
,since the wholes block is a hyperlink*/
.sectionLink {
    text-decoration: none;
    color: inherit;
}

/*it changes the color on the submenu so it can be more visible (inteli7.html,
products-pc-parts.html, products-phones.html)*/
.history a {
    color: rgb(233, 221, 62);
}

/*makes images have curves and adjusts the size of them*/
.curvyImg {
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 100px;
  }

/*makes images not appear distorted and adjusts their position*/
.fixImg {
    margin: 2%;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

/*adjusts the position of the form in tech.html*/
form {
    margin-bottom: 2%;
    margin-right: 70%;
}

/*it adjusts the size for the block that asks for a picture of the receipt,
so that the asterisk(*) on ther right is on the right spot*/
#txtProof {    
    margin-right: -15%;
}

/*adjusts the position, size and background color for the block of the intro
in the main page*/
.intro {
    margin: 1%;
    padding: 0%;
    background-color: rgba(195, 227, 233, 0.253);
}

/*adjusts the size of the block and centers the txt
in about-us.html*/
.about-us-section {
    width: 100%;
    text-align: center;
}

/*make the font white and adjusts the size and position of the blocks inside
the block of about-us-section in about-us.html*/
.sectionContentTwoE1 {
    color: white;
    margin-bottom: 20%;
}

/*it makes the font color of a paragraph in intel-i7.html black so it can
be visible due to the background*/
#txtBlack {
    color: black;
}

/*it creates a shadow for the images on about-us*/
#imgShad img{
    box-shadow: black 0px 0px 40px;
}





